<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="margin-left: 35%;";">Welcome to our Portfolio webSite</h1>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio page</title>
        <style>
          body {
            background-color: rgb(205, 143, 174);
          }
        </style>
      </head>
      <body>
        <h1>Deepak Singh Pargaien</h1>
        <p>I love to play games.</p>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2ekAZ9XpmJeKCpDhPl39AZTey2CAC5Y8jJw&usqp=CAU"
          height="200px"
          width="180px"
        />
        <hr />
        <h2>Education</h2>
        <ul>
          <li><b>10th class (CBSE)</b>:8cgpa</li>
          <li><b>12th class (CBSE)</b>:75%</li>
          <li><b>Bachelor in Engineering (CSE)</b></li>
        </ul>
        <hr />
        <h2>Skills</h2>
        <ul>
          <li>HTML,CSS,JavaScript</li>
          <li>Nodejs.SQL</li>
          <li>Java,Python</li>
        </ul>
        <hr />
        <h2>Hobbies</h2>
        <ul>
          <li>Reading</li>
          <li>Playing</li>
          <li>Running</li>
        </ul>
        <hr />
        <h2>Contect Me</h2>
        <ul>
          <li><b>Email:</b>Deepakpargaien56455@gmail.com</li>
          <li><b>Phone No:</b>7668412043</li>
        </ul>
        <hr />
        <h2>Achievements</h2>
        <ul>
          <li>I got a gold medal in project.</li>
          <li>I got the 9.5cgpa in diploma.</li>
          <li>I got national medal in hockey.</li>
        </ul>
        <hr />
        <h2>Made with &hearts; Haldwani.</h2>
      </body>
    </html>
  </body>
</html>
